<nav>
    <div id="center">
        <div class="nav-logo">
            <a href="/" class="logo-link"><img src="./images/logo.png" alt="logo" id="logo"></a>
        </div>
        <div class="nav-items">
            <a href="#" class="fake-links">By Goal</a>
            <a href="#" class="fake-links">By Diet</a>
            <a href="#" class="fake-links">By Meal</a>
            <a href="#" class="fake-links">About Us</a>
        </div>
        <div class="nav-auth">
            <a href="./register" class="auth">Register</a>
            <a href="./login" class="auth">Login</a>
        </div>
    </div>
</nav>