<html>
<header>
    <link rel="stylesheet" href="/css/template.css" />
    <link rel="stylesheet" href="/css/nav.css" />
    <link rel="stylesheet" href="/css/home.css" />
    <link rel="stylesheet" href="/css/footer.css" />
    <link rel="stylesheet" href="/css/packages.css" />
    <link rel="stylesheet" href="/css/auth.css" />
</header>

<body>
    <div class="container">
        {{>nav}}
        {{{body}}}
        {{>footer}}
    </div>

</body>

</html>