<html>
<header>
    <link rel="stylesheet" href="/css/template.css" />
    <link rel="stylesheet" href="/css/nav.css" />
    <link rel="stylesheet" href="/css/home.css" />
    <link rel="stylesheet" href="/css/footer.css" />
    <link rel="stylesheet" href="/css/packages.css" />
    <link rel="stylesheet" href="/css/auth.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</header>

<body>
    <div class="container">
        {{>nav}}
        {{{body}}}
        {{>footer}}
    </div>
    <script src="/js/script.js"></script>
</body>

</html>