<div class="info">
    <p class="welcome">welcome<b> {{firstname}} {{lastname}}</b></p>
    <p class="email-client">your registered email is <b>{{email}}</b></p>
    <a href="/logout" class="btn btn-primary" role="button">logout</a>
</div>