.auth {
    width: 600px;
    height: 700px;
    font-family: sans-serif;
    align-self: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
}

.login-container {
    width: 400px;
    height: 300px;
    border: 1px solid rgba(128, 128, 128, 0.849);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}

.register-container {
    width: 450px;
    height: 550px;
    border: 1px solid rgba(128, 128, 128, 0.849);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    position: absolute;
    top: 80px;
}

.login-container h3 {
    width: 100%;
    text-align: center;
    color: #2d0010;
    font-size: 20px;
}

.register-container h3 {
    width: 100%;
    text-align: center;
    color: #2d0010;
    font-size: 20px;
}

.login-container form {
    width: 90%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;


}

.register-container form {
    width: 90%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;


}

.input-container {
    width: 100%;
    height: 80px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: center;


}

input {
    width: 100%;
    height: 35px;
    font-size: 18px;
    text-indent: 5px;
    margin-top: 10px;
    border-radius: 3px;
    border: 1px solid rgba(151, 148, 148, 0.568);
}

.form-btn {
    align-self: flex-start;
    margin-left: 17px;
    margin-top: 5px;
    width: 100px;
    height: 45px;
    border: 1px solid #e8015a;
    background-color: #e8015a;
    color: white;
    border-radius: 3px;
    font-weight: bold;
    font-size: 14px;
    cursor: pointer;
}

.form-register-btn {
    align-self: flex-start;
    cursor: pointer;
    margin-top: 5px;
    width: 100px;
    height: 45px;
    border: 1px solid #e8015a;
    background-color: #e8015a;
    color: white;
    border-radius: 3px;
    font-weight: bold;
    font-size: 14px;
}

label {
    font-size: 16px;
    font-weight: bold;
}

.password label {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
}

.input-container label span {
    font-size: 14px;
    color: #e8015a;
    font-style: italic;
    font-weight: 400;
}

@media only screen and (min-width: 360px){
    .auth {
        width: 350px;
        height: 620px;
    }
    .register-container {
        width: 300px;
        height: 500px;
        position: absolute;
        top: 120px;
    }
    .error{
        width: 360px;
        background-color: rgba(219, 56, 56, 0.712);
        color: red;
        position: absolute;
        top: 50px;
        text-indent: 20px;
    }
    .login-container {
        width: 300px;
        height: 300px;
        position: absolute;
        top: 120px;
    }
}
@media only screen and (min-width: 320px){
    .auth {
        width: 320px;
        height: 620px;
    }
    .register-container {
        width: 270px;
        height: 500px;
        position: absolute;
        top: 120px;
        
    }
    
    .login-container {
        width: 270px;
        height: 300px;
        position: absolute;
        top: 120px;
    }
    .error{
        width: 320px;
        background-color: rgba(219, 56, 56, 0.712);
        color: red;
        position: absolute;
        top: 50px;
        text-indent: 20px;
    }
}