
    .container {
        width: 1350px;
        min-height: 100%;
        box-sizing: border-box;
        position: absolute;
        left: 0;
        top: 0;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
    }
    .error{
        width: 320px;
        background-color: rgba(219, 56, 56, 0.712);
        color: red;
        position: absolute;
        top: 50px;
        text-indent: 20px;
    }


@media only screen and (min-width: 360px){
    .container{
        width: 360px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        
    }
    .error{
        width: 320px;
        background-color: rgba(219, 56, 56, 0.712);
        color: red;
        position: absolute;
        top: 50px;
        text-indent: 20px;
    }
}
@media only screen and (max-width: 320px){
    .container{
        width: 320px;
        display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
        
    }
    .error{
        width: 320px;
        background-color: rgba(219, 56, 56, 0.712);
        color: red;
        position: absolute;
        top: 50px;
        text-indent: 20px;
    }
} 
/* @media only screen and (max-width: 375px){
        .container{
            width: 375px;
            display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
           
        }
} */